*.class

# Package Files #
*.jar
*.war
*.ear

### emacs ###
*~
\#*#

# maven #
target/

# build #
.gradle/
.vagga/
.ipython/
build/
.local-*-test-execution-times.log

# pymorphy2 dicts #
pymorphy2-dicts-*
pymorphy2_dicts/
pymorphy2_dicts_*/

!/gradle/wrapper/*.jar
.idea/