install:
- choco install gradle -version 3.4.1
- set JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8
- gradle -version

build_script:
- gradle assemble --no-daemon

test_script:
- gradle check --no-daemon

cache:
- C:\ProgramData\chocolatey\bin -> appveyor.yml
- C:\ProgramData\chocolatey\lib -> appveyor.yml
