name: Java CI

on: [push]

env:
  GRADLE_ARGS: "--info --stacktrace --no-daemon"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 13
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts') }}
        restore-keys: ${{ runner.os }}-gradle

    - name: Assemble and run tests
      run: |
        set -eux
        if [[ $GITHUB_REF == refs/tags/v* ]]; then
          GRADLE_ARGS="$GRADLE_ARGS -Prelease=true"
        fi
        if [[ $GITHUB_REF == refs/tags/v*-es* ]]; then
          ES_VERSION=$(echo $GITHUB_REF | sed 's/refs\/tags\/v.*-es\(.*\)/\1/')
          GRADLE_ARGS="$GRADLE_ARGS -Prelease=true -PesVersion=$ES_VERSION"
        fi
        ./gradlew assemble $GRADLE_ARGS
        # integTest task fails starting with 7.5.0
        # https://discuss.elastic.co/t/elasticsearch-6-3-0-unavailable-in-maven-repository/138782/2
        ./gradlew check $GRADLE_ARGS -x integTest

    - uses: actions/upload-artifact@v2
      if: |
        github.event_name == 'push' &&
        startsWith(github.ref, 'refs/tags/v') &&
        contains(github.ref, '-es')
      with:
        name: elasticsearch-plugin
        path: jmorphy2-elasticsearch/build/distributions

  deploy_es_plugin:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' &&
      startsWith(github.ref, 'refs/tags/v') &&
      contains(github.ref, '-es')
    needs:
    - build
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 13
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts') }}
        restore-keys: ${{ runner.os }}-gradle

    - uses: actions/download-artifact@v2
      with:
        name: elasticsearch-plugin

    - name: Publish
      env:
        BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
        BINTRAY_API_KEY: ${{ secrets.BINTRAY_API_KEY }}
      run: |
        set -eux
        ES_VERSION=$(echo $GITHUB_REF | sed 's/refs\/tags\/v.*-es\(.*\)/\1/')
        ./gradlew bintrayUpload \
          $GRADLE_ARGS -Prelease=true -PesVersion=$ES_VERSION
